<!-- <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
-->
<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
	<form role="search">
		<div class="form-group">
			<input type="text" class="form-control" placeholder="Search">
		</div>
	</form>
	<ul class="nav menu">
		<li ng-class="ngclass.dashbordClass" ng-click="goPage('dashbord');"><a href=""><svg class="glyph stroked dashboard-dial"><use xlink:href="#stroked-dashboard-dial"></use></svg> Dashboard</a></li>
		<li ng-class="ngclass.institutionsClass" ng-click="goPage('institutions');"><a href=""><svg class="glyph stroked calendar"><use xlink:href="#stroked-calendar"></use></svg> Instituições</a></li>
		<li ng-class="ngclass.themesClass" ng-click="goPage('themes');"><a href=""><svg class="glyph stroked line-graph"><use xlink:href="#stroked-line-graph"></use></svg> Temas</a></li>
		<li ng-class="ngclass.skillsClass" ng-click="goPage('skills');"><a href=""><svg class="glyph stroked table"><use xlink:href="#stroked-table"></use></svg> Competências</a></li>
		<li ng-class="class"><a href="#/"><svg class="glyph stroked pencil"><use xlink:href="#stroked-pencil"></use></svg> Funcionalidade</a></li>
		<li class="parent ">
			<a href="">
				<span data-toggle="collapse" href="#sub-item-1"><svg class="glyph stroked chevron-down"><use xlink:href="#stroked-chevron-down"></use></svg></span> Dropdown
			</a>
			<ul class="children collapse" id="sub-item-1">
				<li>
					<a class="" href="#">
						<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 1
					</a>
				</li>
				<li>
					<a class="" href="#">
						<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 2
					</a>
				</li>
				<li>
					<a class="" href="#">
						<svg class="glyph stroked chevron-right"><use xlink:href="#stroked-chevron-right"></use></svg> Sub Item 3
					</a>
				</li>
			</ul>
		</li>
		<li role="presentation" class="divider"></li>
		<li><a href="index.html"><svg class="glyph stroked male-user"><use xlink:href="#stroked-male-user"></use></svg> Login Page</a></li>
	</ul>

</div><!--/.sidebar-->
