<div ng-app="admin" ng-cloak="">

		<div acme-navbar></div>

		<div acme-sidebar></div>

		<div ui-view></div>

  <!-- MODULE -->
  <script src="admin.module.js"></script>
  <script src="admin.route.js"></script>
  <script src="admin.directive.js"></script>

  <!-- CONTROLLERS -->
  <script src="controllers/index.controller.js"></script>
  <script src="controllers/institutions.controller.js"></script>
  <script src="controllers/skills.controller.js"></script>
  <script src="controllers/themes.controller.js"></script>

  <!-- SERVICES -->
  <script src="../../login/login.service.js"></script>

<div>
