<div ng-app="mentor" ng-cloak="">

		<div acme-navbar></div>

		<div acme-sidebar></div>

		<div ui-view></div>

		<!-- <div ng-include=" '../footer.html' "></div>  -->

    <!-- MODULE APP -->
    <script src="mentor.module.js"></script>
    <script src="mentor.route.js"></script>
    <script src="mentor.directive.js"></script>

    <!-- SERVICES -->

    <!-- CONTROLLERS -->
    <script src="controllers/index.controller.js"></script>
    <script src="controllers/statistics.controller.js"></script>
    <script src="controllers/students.controller.js"></script>

</div>
