@CHARSET "ISO-8859-1";

#content {
	width: 83%;
    margin-left: auto;
}

#footer {
	bottom: 0;
	margin: 0;
	text-align: center;
	font-size: 15px;
	font: 14px/30px notosans-regular, sans-serif;
}

#carousel {
	width: 50%;
	margin-left: auto;
    margin-right: auto;
}

#change-slide {
	width: 5%;
	height: 100px;
	margin-top: 20%;
}

.container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}

.navbar-fixed-bottom, .navbar-fixed-top {
	z-index: 1;
}

.center {
	position: absolute;
	left: 50%;
	top: 50%;
}

.carousel {
	position: inherit;
}

@media only screen and (max-width: 768px) {
	#content {
		width: 100%;
    	margin-left: auto;
    	margin-right: auto;
	}
	#carousel {
		width: 100%;
	}
}

.listdemoListControls md-divider {
  margin-top: 0;
  margin-bottom: 0; }

.listdemoListControls md-list {
  padding-top: 0; }

.listdemoListControls md-list-item > p,
.listdemoListControls md-list-item > .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > p,
.listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  /* Likely future */ }