<!-- <meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">  
		<meta name="viewport" content="width=device-width, initial-scale=1.0,maximum-scale=1">
-->
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">

	<div class="row">
		<md-card>
			<md-card-content style="padding: 0px">
				<div layout="row">
					<h3 class="col-md-10">Estatisticas</h3>
					<md-input-container class="col-md-2" style="float: right;">
			          <label>Cursos</label>
			          <md-select ng-model="selectedCourse">
			            <md-option ng-value="course" ng-repeat="course in institution">
			              {{course.name}}
			            </md-option>
			          </md-select>
			        </md-input-container>
			     </div>
			 </md-card-content>
		</md-card>
	</div>
	
	<div class="row">
		<div style="height: 305px; margin: 10px;">
			<div id="carousel" uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
				<div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
					{{ selectedCourse.skills[slide.id].type }}
					<div class="canvas-wrapper">
						<canvas id="base" class="chart-horizontal-bar" chart-data="selectedCourse.skills[slide.id].values" 
							chart-labels="selectedCourse.students">
						</canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
</div>

