@CHARSET "UTF-8";

#tela {
	position: relative;
	padding-right: 2px;
	padding-left: 2px;
	margin-right: auto;
	margin-left: auto;
	width: 960px;
	heigth: 640px;
	min-height: 640px;
	border: 3px solid #9ecaed;
	border-radius: 5px;
	box-shadow: 0 0 3px #9ecaed;
	transition-duration: 2s;
}

.scene1, .scene2, .scene3, .scene49, .scene67, .scene68, .scene69,
	.scene73, .scene74, .scene75 {
	background: url(../img/scene1.jpg);
}

.scene4, .scene5, .scene6 {
	background: url(img/scene3.jpg);
}

.scene7, .scene8, .scene9 {
	background: url(img/scene4.jpg);
}

.scene10 {
	background: url(img/scene5.jpg);
}

.scene11 {
	background: url(img/scene6.jpg);
}

.scene12 {
	background: url(img/scene6.jpg);
}

.scene13, .scene14, .scene15 {
	background: url(img/scene7.jpg);
}

.scene16, .scene17 {
	background: url(img/scene8.jpg);
}

.scene18 {
	background: url(img/scene9.jpg);
}

.scene19 {
	background: url(img/scene10.jpg);
}

.scene20, .scene21 {
	background: url(img/scene11.jpg);
}

.scene22, .scene23, .scene24 {
	background: url(img/scene12.jpg);
}

.scene25 {
	background: url(img/scene13.jpg);
}

.scene26, .scene27 {
	background: url(img/scene14.jpg);
}

.scene28, .scene29, .scene30 {
	background: url(img/scene15.jpg);
}

.scene31, .scene32, .scene33 {
	background: url(img/scene16.jpg);
}

.scene34, .scene35, .scene36 {
	background: url(img/scene18.jpg);
}

.scene37, .scene38, .scene39 {
	background: url(img/scene19.jpg);
}

.scene40, .scene41, .scene42, .scene70, .scene71, .scene72 {
	background: url(img/scene20.jpg);
}

.scene43, .scene44, .scene45, .scene46, .scene47, .scene48 {
	background: url(img/scene22.jpg);
}

.scene50, .scene51 {
	background: url(img/scene23.jpg);
}

.scene52, .scene54 {
	background: url(img/scene24.jpg);
}

.scene53 {
	background: url(img/scene25.jpg);
}

.scene55, .scene56, .scene57 {
	background: url(img/scene26.jpg);
}

.scene58, .scene59, .scene60 {
	background: url(img/scene27.jpg);
}

.scene61, .scene62, .scene63 {
	background: url(img/scene28.jpg);
}

#tela .textbox {
	width: 945px;
	height: 200px;
	bottom: 0;
	position: absolute;
	border: 2px solid #9ecaed;
	border-radius: 5px;
	margin: 2px;
	background-color: rgba(0, 0, 0, 0.8);
	color: #FFFFFF;
	padding: 5px 25px 5px 25px;
	font-size: 17px;
	box-shadow: 0 0 3px #9ecaed;
}

.info {
	position: absolute;
	background-color: rgba(0, 40, 107, 0.6);
	right: 5px;
	top: 5px;
	height: 60px;
	width: 60px;
	border: 2px solid #9ecaed;
	border-radius: 30px;
	text-align: center;
	font-size: 18px;
	padding: 14px;
	color: #9ecaed;
	font-weight: bold;
	cursor: pointer;
}

.info:hover {
	background-color: rgba(255, 255, 255, 1);
	transition-duration: 0.3s;
	color: #000;
	font-weight: bold;
	box-shadow: 0 0 3px #9ecaed;
}

#infobox {
	position: absolute;
	background-color: rgba(0, 40, 107, 0.6);
	right: 25px;
	top: 25px;
	text-align: left;
	border: 2px solid #9ecaed;
	border-radius: 5px;
	text-align: center;
	font-size: 14px;
	color: #9ecaed;
	font-weight: bold;
	cursor: pointer;
	overflow: hidden;
}

.whotalks {
	color: #9ecaed;
	margin-bottom: 5px;
	font-size: 24px;
}

#options {
	width: 550px;
	left: 70px;
	top: 100px;
	position: absolute;
	color: #FFFFFF;
	font-size: 18px;
}

.optionclose {
	visibility: hidden;
	height: 10px;
	width: 10px;
}

.active {
	visibility: visible;
	width: 950px;
	height: 640px;
	position: absolute;
	cursor: pointer;
}

.inactive {
	visibility: hidden;
}

.optionopen {
	visibility: visible;
	height: 350px;
}

.infoclose {
	transition: height 0.3s, width 0.3s, linear 0.1s;
	text-align: left;
	height: 0px;
	width: 0px;
	visibility: hidden;
	overflow: hidden;
}

.infoopen {
	visibility: visible;
	transition: height 0.3s, width 0.3s, linear 0.1s;
	text-align: left;
	height: 400px;
	width: 180px;
	overflow: hidden;
	padding: 14px;
}

.op {
	border: 2px solid #9ecaed;
	border-radius: 5px;
	margin-bottom: 15px;
	background-color: rgba(0, 40, 107, 0.8);
	color: #FFF;
	font-weight: bold;
	padding: 5px 25px 5px 25px;
	font-size: 17px;
	box-shadow: 0 0 3px #9ecaed;
	cursor: pointer;
}

.op:hover {
	background-color: rgba(0, 0, 0, 1);
	color: #fff;
}

#ranking, #nome, #recurso {
	margin: 10px;
	color: #FFF;
}

#prosseguir {
	position: absolute;
	width: 950px;
	height: 640px;
	cursor: pointer;
}