

		<!-- STYLES -->
		<link href="../../css/student.game.css" rel="stylesheet">

		<!-- Loading third party fonts -->
		<link rel="stylesheet" href="../../lib/css/font-awesome.min.css">

		<!-- <link rel="stylesheet" href="web_apps/css/site/id-style.css">  -->
		<link rel="stylesheet" href="../../lib/css/alertify.rtl.css">

		<!-- Angular Material style sheet -->
		<link rel="stylesheet" href="../../lib/css/angular-material.min.css">

		<link href="../../lib/css/datepicker3.css" rel="stylesheet">
		<link href="../../lib/css/styles.css" rel="stylesheet">

	<body ng-app="student" ng-cloak="">

		<div>

			<div ng-include=" '../navbar-top.html' "></div>

			<!-- <div ng-include=" 'web_app/html/admin/sidebar-menu-admin.html' "></div>  -->

			<div ui-view></div>

		</div>

		<!-- ANGULAR MODULE-->
		<script src="../../js/studentApp.js"></script>

		<!-- SERVICES -->
		<script src="../../js/services/login.service.js"></script>


		<!-- CONTROLLERS -->
		<script src="../../js/controllers/sidebar-menu.controller.js"></script>
		<script src="../../js/controllers/student/game.controller.js"></script>

		<!-- LIBRARIES TEMPLATE -->
		<script src="../../../lib/jquery/dist/jquery.min.js"></script>

		<script src="../../../lib/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="../../../lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
		<script src="../../lib/js/alertify.js"></script>
		<script src="../../lib/js/easypiechart.js"></script>

		<script src="../../lib/js/chart-data.js"></script>
		<script src="../../lib/js/easypiechart-data.js"></script>

	</body>
